<div style = "text-align:center" >
<h1 >
{{title}}!
</h1>
<img width = "100" alt = "Angular Logo"
src = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdm
ciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzB
MMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8
cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyM
y4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMT
gyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGw
xNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div class = 'class_comanda'>
<h2 class = "titulo"> Mesón Gallego </h2>
<form class = "clasform1">
<br/>
<label> Consumicion: </label>
<select name = 'lstConsumicion'>
</select>
<button type = "button"> + </button>
</form>
<br/>
<h3> Consumiciones: </h3>
<table width = "450px">
<thead>
<td>
<u> Producto </u>
</td>
<td align = "right">
<u> Precio </u>
</td>
</thead>
<tr>
<td></td>
<td align = "right"></td>
<td align = "center">
<button type = "button"> - </button>
</td>
</tr>
<tr>
<td>
<b> TOTAL </b>
</td>
<td align = "right">
<b></b>
</td>
</tr>
</table>
</div>